        </div>
    </main>

    <footer class="page-footer purple">
        <div class="footer-copyright">
            <div class="container">
                <p class="grey-text text-lighten-4 center">made with <span style="color: #FF5A79; font-size: 18px;">💗</span> by <a href="https://steemit.com/@reazuliqbal" class="text-orange">@reazuliqbal</a></p>
            </div>
        </div>
    </footer>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/admin.js"></script>
</body>
</html>