    </main>

    <footer class="page-footer blue-grey darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">mTasks</h5>
                    <p class="grey-text text-lighten-4">A Fiverr like platform built on top of STEEM blockchain using STEEM escrow functionalities. This site is built as a demo, using it to offer your services in not recommended but you can.</p>
                    <h6 class="grey-text text-lighten-4 uppercase">This site is not in production state.</h6>
                </div>
                <div class="col l3 offset-l3 s12">
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Privacy Policy</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Terms and Conditions</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Support Center</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                <p class="grey-text text-lighten-4 center">made with <span style="color: #FF5A79; font-size: 18px;">❤</span> by <a href="https://steemit.com/@reazuliqbal" class="text-orange">@reazuliqbal</a></p>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
