<div class="alert">
    <div class="card-panel <%= locals.alertClass %>">
        <!-- <strong class="alert-type"><%= locals.type %></strong> -->
        <span class="alert-message"><%- locals.message %></span>
    </div>
</div>