<%- include('partials/header') %>
    <h1><%= title %></h1>
    <p class="flow-text">Your order was submitted successfully! Go to <a href="/dashboard/manage-orders/placed">Dashboard.</a></p>
<%- include('partials/footer') %>