body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7; }

strong {
  font-weight: 500; }

h1, h2, h3 {
  font-weight: 500;
  margin-top: 20px; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

.content-wrapper {
  padding-top: 50px;
  padding-bottom: 50px; }

.card h1, .card h2, .card h3,
.card-panel h1,
.card-panel h2,
.card-panel h3 {
  margin: 0; }

.card h2,
.card-panel h2 {
  font-size: 30px; }

.alert {
  margin: 0 .75rem 30px .75rem; }

.page-header-bg {
  min-height: 300px;
  background-size: cover;
  color: #fff;
  padding: 50px 20px;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  position: relative;
  overflow: hidden;
  margin-top: -50px;
  margin-bottom: 30px; }
  .page-header-bg h1,
  .page-header-bg h2 {
    margin: 0;
    z-index: 1;
    position: relative; }
  .page-header-bg::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }

.profile-cover {
  padding: 30px 20px;
  text-align: center;
  margin-top: -50px;
  margin-bottom: 50px;
  color: #fff;
  background-color: #01579b;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .profile-cover a {
    color: #fff; }
    .profile-cover a:hover, .profile-cover a:focus, .profile-cover a:active {
      color: #fff; }
  .profile-cover:before {
    background: rgba(0, 0, 0, 0.3);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1; }

.profile-image {
  height: 120px;
  width: 120px;
  border: 3px solid #f7f7f7;
  border-radius: 50% !important;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  margin: 0 auto; }
  .profile-image img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    vertical-align: middle; }

.profile-description {
  margin-top: -50px;
  background-color: #eeeeee;
  padding: 50px 25px;
  height: 100%; }
  @media only screen and (min-width: 768px) {
    .profile-description {
      min-height: 500px;
      margin-bottom: -70px; } }

.service img {
  max-width: 100%;
  height: auto;
  display: block; }

.category-card {
  box-shadow: none;
  background-color: transparent; }
  .category-card .card-image img {
    width: 120px;
    display: inline-block;
    margin: 0 auto; }
  .category-card .card-action {
    text-align: center;
    border-top: none;
    padding: 0; }
    .category-card .card-action a {
      color: #263238 !important;
      text-transform: inherit !important;
      margin: 0 !important;
      font-size: 18px;
      display: inline-block;
      padding: 16px 24px; }

.service-card .card-image {
  min-height: 200px;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.service-card .card-action {
  text-align: center; }

textarea.materialize-textarea {
  min-height: 200px; }

.page-footer a {
  color: #fff; }

.margin-top-30 {
  margin-top: 30px !important; }

.margin-top-50 {
  margin-top: 50px !important; }

.strong-text {
  font-weight: 500 !important; }

.homepage-header {
  background-color: #000;
  background-image: url("/images/header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
  color: #fff;
  position: relative; }
  .homepage-header nav {
    background-color: transparent;
    box-shadow: none; }
  .homepage-header .homepage-search {
    margin-top: 100px;
    position: relative;
    z-index: 100;
    text-align: center; }
    .homepage-header .homepage-search ::-webkit-input-placeholder {
      color: #000; }
    .homepage-header .homepage-search ::-moz-placeholder {
      color: #000; }
    .homepage-header .homepage-search :-ms-input-placeholder {
      color: #000; }
    .homepage-header .homepage-search input:-moz-placeholder {
      color: #000; }
    .homepage-header .homepage-search .input-box {
      display: inline-block;
      min-width: 300px; }
      @media only screen and (min-width: 1200px) {
        .homepage-header .homepage-search .input-box {
          min-width: 400px; } }
    .homepage-header .homepage-search input {
      background-color: #fff;
      border-radius: 3px;
      padding: 5px 20px;
      box-sizing: border-box;
      height: 54px; }
    .homepage-header .homepage-search button {
      margin-top: -5px; }
  .homepage-header:after {
    background: rgba(0, 0, 0, 0.3);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }

.highlight {
  padding-top: 50px;
  padding-bottom: 50px; }

/*# sourceMappingURL=main.css.map */