body {
    font-family: 'Roboto', sans-serif;
}
strong {
    font-weight: 500;
}
h1, h2, h3 {
    font-weight: 500;
    margin-top: 20px;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
.content-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
}
.card,
.card-panel {
    h1, h2, h3 {
        margin: 0;
    }
    h2 {
        font-size: 30px;
    }
}
//
.alert {
    margin: 0 .75rem 30px .75rem;
}
// PAGE HEADER
.page-header-bg {
    min-height: 300px;
    background-size: cover;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;

    h1,
    h2 {
        margin: 0;
        z-index: 1;
        position: relative;
    }

    &::before {
        content: "";
        background-color: rgba($color: #000000, $alpha: .3);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
}
// PROFILE
.profile-cover {
    padding: 30px 20px;
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
    background: #22c1c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    .profile-image {
        height: 120px;
        width: 120px;
        border: 3px solid #fff;
        border-radius: 50%;
        background-color: #fff;
    }
}
// SERVICE
.service {
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}
// TEXT AREA
textarea.materialize-textarea {
    min-height: 200px;
}

// FOOTER
.page-footer {
    a {
        color: #fff;
    }
}